# Table of Contents

1 - [Python As A Calculator](#section1)<br>

2 - [Variable Assignments](#section2)<br>

3 - [Strings](#section3)<br>

4 - [Lists](#section4)<br>

5 - [Dictionaries](#section5)<br>

6 - [Tuples](#section6)<br>

7 - [Sets](#section7)<br>

8 - [Booleans](#section8)<br>

9 - [Comparison Operators](#section9)<br>

10 - [Logical Operators](#section10)<br>

11 - [if, elif, and else Statements](#section11)<br>

12 - [Loops](#section12)<br>

----
## Python as a Calculator

Numerals essentially are just numbers. And you can do all kinds of manipulations with them as you would do with numbers. There are two types of numerals: int and float. "Int" is an integer and "float" is a number with a decimal point.

In [ ]:
# +, -, *, **, / , // , %

In [ ]:
1 + 1

In [ ]:
2021 - 1996

In [ ]:
40 * 17 * 52

In [ ]:
5 ** 2

In [ ]:
25 ** (1/2)

In [ ]:
10 / 3

In [ ]:
10 // 3

In [ ]:
10 % 2

In [ ]:
# PEMDAS

In [ ]:
5 * 6 - 5

In [ ]:
5**2*3/5

In [ ]:
((5**2)*3)/3

---

## Variable Assignment

In [ ]:
# my age 
24

In [ ]:
age = 24

In [ ]:
age

In [ ]:
age = 10

In [ ]:
age + age

In [ ]:
age

In [ ]:
age  = age + age

In [ ]:
type(age)

In [ ]:
temperature = 97.5

In [ ]:
type(temperature )

In [ ]:
price_per_unit = 5

n_units = 10

total_price = price_per_unit * n_units

---

## Strings

A string is a data type that consists of textual information. It will read all types of data as a text, even if you were to use numbers. Strings are defined by the quotation marks (either double or single).

### Indexing

In [16]:
'Hello World'[-11]

'H'

### Slicing

In [24]:
"My favorite movie is 'Harry Potter'"[0:2]

'My'

In [26]:
"My favorite movie is 'Harry Potter'"[3:11]

'favorite'

In [27]:
'Parangaricutirimicuaro'[::]

'Parangaricutirimicuaro'

In [28]:
'Parangaricutirimicuaro'[::2]

'Prnaiuiiiur'

In [29]:
'Parangaricutirimicuaro'[::-1]

'oraucimirituciragnaraP'

### Single quote vs double quote

In [30]:
"Really" he said. "Are you also attending the celebration?"

SyntaxError: invalid syntax (<ipython-input-30-1062e7fddb16>, line 1)

In [31]:
'"Really" he said. "Are you also attending the celebration?"'

'"Really" he said. "Are you also attending the celebration?"'

In [21]:
"\"Really,\" he said. \"Are you also attending the celebration?\""

'"Really," he said. "Are you also attending the celebration?"'

### Functions and Attributes

In [ ]:
# .upper()

In [ ]:
# . lower()

In [ ]:
# concatenation 

name = "TYPE YOUR NAME HERE"

'my name is ' + name

In [ ]:
# split 

'This sentence makes no sense, but I will split it anyway'.split()

---

## Lists 

Ordered sequence of objects

* List is a data type that allows you to save multiple objects. 
* In comparison with strings, lists can contain different data types.

In [39]:
["this", "is", "list", "number", 1]

['this', 'is', 'list', 'number', 1]

In [40]:
# list variable assignment 
my_list = [1, 2, 3]

In [41]:
# len 

len(my_list)

3

In [42]:
# indexing 

my_list[0]

1

In [43]:
another_list = ["one", 2, "three", 4, "five"]

In [44]:
# slicing 

another_list[1:3]

[2, 'three']

In [45]:
# concatenate 

my_list + another_list

[1, 2, 3, 'one', 2, 'three', 4, 'five']

In [46]:
# assign and concatenate 

my_new_list = my_list + another_list

In [48]:
# reassign values

another_list[0] = 'ONE ALL CAPS'

In [49]:
another_list

['ONE ALL CAPS', 2, 'three', 4, 'five']

In [50]:
# .append()
my_list.append(10)

In [51]:
my_list

[1, 2, 3, 10]

In [54]:
# .pop()
my_list.pop()

10

In [55]:
my_list

[1, 2, 3]

In [56]:
# .pop() specific index 
my_list.pop(1)

2

In [57]:
my_list

[1, 3]

In [58]:
# sort()

bag_of_letters = ['a','m','b','x', 'w', 'p']
bag_of_letters.sort()

In [72]:
random_digit = [1, 4, 19, 50, 3, 6, 8, 100, 3]

In [80]:
# ! careful with modification in place!

random_digit_sorted = random_digit.sort()

In [81]:
random_digit_sorted

In [82]:
# nonetype 
type(random_digit_sorted)

NoneType

In [75]:
random_digit.sort()
random_digit_sorted = random_digit

In [76]:
random_digit_sorted

[1, 3, 3, 4, 6, 8, 19, 50, 100]

In [77]:
# reverse 

random_digit.reverse()

In [78]:
random_digit

[100, 50, 19, 8, 6, 4, 3, 3, 1]

---

## Dictionaries


Dictionaries help us store and manipulate data relations.

What are dictionaries?

A dictionary is a collection of unordered, mutable and indexable data types. They are structured as key-value pairs.

About:

* built using curly brackets - {key: value}
* you access the value using the key ( like a real dictionary)
* keys tend to be strings (or text), since typically they represent the title or name of the thing(s) you want to represent.

### Methods and Functions

In [ ]:
my_cofe_shops = {"number1" : "Cruzitas",
                "number2" : "Horchateria Rio Luna",
                "number3" : "Tierra Mia"}

In [ ]:
my_pet = {"name" : 'Charlie', 
         "type": "Chihuahua", 
         "gestation_period": 68}

In [ ]:
# add
my_cofe_shops['new_name'] = 'name'

In [ ]:
# changing element 
my_cofe_shops['number1'] = 'new_1'

In [ ]:
# accesing elements - must be exact

In [ ]:
# removing elements 
# .pop() --> not by index but by key

In [ ]:
# .values()

In [ ]:
# . keys()

In [ ]:
# .items()

---

## Tuples

Tuples look and behave similarly to lits, but they cannot be modified. It can be used with geospatial data or other data that shouldn't be modified under any circumstances.

In [87]:
(1,2,4)

(1, 2, 4)

In [ ]:
lst1 = [1,2,3]
tuple(lst1)

In [ ]:
tup = (1,2,4)

In [ ]:
tup[1]

In [ ]:
tup[1] = 5

--- 

## Sets


* Sets are used to store multiple items in a single variable (like lits , and tuples)
* It's a collection which is unordered and unindexed and does not allow for duplicates
* Syntax: Used curly brackets like dictionaries, but does not come in key-value pairs {}
* can cast lists into sets to get unique items of that list

In [88]:
# set 
{1,2,4,4}

{1, 2, 4}

In [ ]:
# list to set

--- 

## Booleans

Booleans can only take True or False values. They represent the "truth" values in a logical expression, and can help us answer questions that require a binary responses (yes or no) whenever a given condition is or is not met.
"boolean values" have a bool data type.

In [ ]:
True

In [ ]:
true

In [ ]:
type(True)

In [ ]:
1 > 3

--- 

## Comparison Operators 

Here is a list with more **operators**!

|Operator| Meaning|
|--------|---------|
|< | less than |
|<= | lass than or equal to|
|> | greater than |
|>= | greater than or equal to|
|!= | not equal to|
|== | equal to|

--- 

## Logical Operators

These are ordered by ascending priority. 
 
|OPERATOR| DESCRIPTION | EXAMPLE | NOTES |
|--------|-------------|---------| ------|
| X or Y | Returns True if one the statements is true | X < 5 or X < 1 | Y executes ONLY if X is false. If X, the first value, is true, then X is returned without checking the remaining values.|
| X and Y | Returns True if both of the statements are true | X < 5 and X < 10 | Y executed ONLY if X is true. If X is false, it returns X and it does not check the remaining values.|
| not X | Negates the results. Returns False if the result is true|not True | |

--- 

## if, elif, and else Statements 


A conditional statement has the following form:

`if <condition>:
    <do_something> 
elif <condition>:
    <do_something>
else:
     <do_something>`
        
                 
The **condition** called **expressions** and **do_something** are called **suite**. (Don' worry about terminology for now.)

**How do conditional statements work?**
* First, it evaluated the header expression(which is the `if` statement). If the statement is True, then it executes the first suite otherwise, it checks the condition of the `elif`, and so on. 
* It will only execute the suite (do_something) of the `else` clause, if the conditions of the `if` and `elif` are false (not met). 


**Some notes about conditional statements:**
* You can have as many `elif` expressions as you want, but you can only have one `if` and one `else` statement. 
* `else` always comes at the end.
* You do not always need and `else`.
* When you execute a conditional statement, you must ALWAYS consider the order of you statements.

In [86]:
if True: 
    print("Hello Karla")

Hello Karla

In [ ]:
name = "Karla"

if name == "Palos":
    print("name is Palos")

In [ ]:
name = "Karla"

if name == "Palos":
    print("name is Palos")
else
    print('That is not my name')

In [ ]:
# EXAMPLE 1 

if len("Karla") == 5:
    print("Hello, 5!")
else:
    print("Hello,6!")

In [ ]:
# EXAMPLE 2 

fizzbuzz = 5
if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
    print("fizzbuzz")
elif fizzbuzz % 3 == 0:
    print("fizz")
elif fizzbuzz % 5 == 0:
    print("buzz")

---
## For Loops 

What are loops useful for? 
- Sometimes we want to perform some operation on a list, or tuple, but doing it on each element individually can be very tedious!
- A loop goes through a collection of data types and **executes** some state statement **for each value** in that collection of data. 
- Examples of data types are: list, array, characters string, tuple, dictionary, and other collections

Syntax: 

**for** var **in** iterable:

    statement 
    statement 
  **else:**
  
  
    statement 
    
* var - it takes items from iterable one by one. 
* iterable - it's a collection of objects (list tuple)
* indentation - loop body MUST be indented 
* loop body - first two statements 
* else clause - last statement.

In [85]:
short_list  = [1,2,3,4]

for num in short_list:
    print(num +1 )

2
3
4
5

In [ ]:
# EXAMPLE 

# square each value in the tuple 
for i in (1,2,3):
    print(i**i)

In [ ]:
# EXAMPLE 

# print each animal in the animals list
animals = ["dog", "cat", "bird", "fish"]
for animal in animals:
    print(animal)b

In [ ]:
# EXAMPLE 


# calculate the area for circles with different radius
# you can save the list in variable before iterating over it 
radiuses = [1, 3, 5, 7, 9]

for radius in radiuses: 
    area = math.pi*radius**2
    print(area)