# Intro to Python (Part I)



---
<img src="https://calnerds.berkeley.edu/css/images/logo.jpg"  /> <!--style="width: 500px; height: 275px;"-->

### Kseniya Usovich 

Introduction to Python 


---
<!--
### Topics Covered
- Variable Assignment
- Strings
- Numerals
- Lists, Arrays, and Tuples 
- Built-ins 
- Dictionaries 
- Loops
- Conditionals
- Functions
- Libraries 
- Files 
- Errors
- Comprehensions
--> 

### Table of Contents

1 - [Data Types](#section1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a - [Variable Assignment](#subsection1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; b - [Strings](#subsection2)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c - [Numerals](#subsection3)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; d - [Booleans](#subsection4)<br>

2 - [Data Structures](#section2)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a - [Lists](#subsection5)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; b - [Arrays](#subsection6)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c - [Tuples](#subsection7)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; d - [Dictionaries](#subsection8)<br>


3 - [Built-ins](#section3)<br> 

4 - [Conditionals](#section4)<br>  

5 - [Loops](#section5) <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a - [For Loops](#subsection9)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; b - [While Loops](#subsection10)<br>

6 - [Functions](#section6)<br> 

<!--7 - [Files](#section7)<br> - read, write, edit and save-->

7 - [Libraries](#section7)<br> 

<!--9 - [Errors](#section9)<br> -->

<!--8 - [Comprehensions](#section8)<br>-->


**Dependencies:**

In [ ]:
import numpy as np
import pandas as pd
import math

---
# Data Types <a id="section1"/>


Every programming language has different types of data that it can use. A data type is essentially a way the information can be saved and manipulated. Each data type has its own functions and methods that can modify it. And usually, the functions that can modify one data types, won't work with the other or give a different result. That is why it is important to know your data types.

---
## Variable Assignment  <a id='subsection1'></a>

We should think of a variable as a container or a storage box that allows us to save various types of information we plan to use later. Defining a variable consists of two components: a name it will be called by and information you store under that name. One variable can hold one type of information.

In [ ]:
# EXAMPLE

var = "Variable"
var

In [ ]:
print(var)

In the next cell assign the variable hello to a phrase "Hello World".

In [ ]:
# EXERCISE

hello  = "..."
hello

---
## Strings  <a id='subsection2'></a>

A string is a data types that consists of textual information. It will read all types of data as a text, even if you were to use numbers. Strings are defined by the quotation marks (either double or single).

In [ ]:
# EXAMPLE

"Kseniya Usovich"

Textual info without the quotation marks is read as a variable, and if that variable doesn't contain any info will give you an error.

In [ ]:
# EXAMPLE

Kseniya

You can save your string into a variable. In the cell below, create a variable name with your name in it.

In [ ]:
# EXERCISE

name = "Kseniya Usovich"
name

As was mentioned before, you can use either double or single quotation marks. But be careful, because some of the textual information might already contain the single (more common) or double (less common) quotation marks inside. Like so:

In [ ]:
# EXAMPLE

"Joe's"

If we were to use single quotation marks on the outside, it would give us an error:

In [ ]:
# EXAMPLE

'Joe's'

In order to avoid that error, simply put a backslash before the quotation mark, so the computer will read it as part of the string instead of a part of the code itself.

In [ ]:
# EXAMPLE

'Joe\'s'

Everything inside that quotation marks will be read as a textual information. Compare the outputs in the cell below.

In [ ]:
# EXAMPLE

print("2+3")
print(2+3)

---
##  Numerals <a id='subsection3'></a>

Numerals essentially are just numbers. And you can do all kinds of manipulations with them as you would do with numbers. There are two types of numerals: int and float. "Int" is an integer and "float" is a number with a decimal point. In the previous versions of Python they were not "compatible", meaning you were only able to manipulate the numerals of the same kind. But starting with Python3, you can combine both types in the calculation without it causing any error.

In [ ]:
# EXAMPLE

2+3

In [ ]:
# EXAMPLE

2.0+3

In [ ]:
# EXAMPLE

4/2

In [ ]:
# EXAMPLE

7//2

In [ ]:
# EXAMPLE

5*3

In [ ]:
# EXAMPLE

5**3

In [ ]:
# EXAMPLE

(1+2)*3

You can also save a numeral in a variable. You can later use that variable instead of typing a number in your calculations.

In [ ]:
# EXAMPLE

g = 9.8

In [ ]:
# EXAMPLE

g*4

---
## Booleans <a id='subsection4'></a>

Booleans can only take `True` or `False` values. They represent the "truth" values in a logical expression, and can help us answer questions that require a binary responses (yes or no) whenever a given condition is or is not met. 

* "boolean values" have a **bool** data type.

Let's use the function type to check what type of data type are is True and False.

In [ ]:
type(True)

In [ ]:
type(False)

**Truth Values**

All of the following evaluate to False.

In [ ]:
False == False

In [ ]:
False == 0

In [ ]:
False == 0.0

Note:  There are also a couple of other **False** values that we will cover later, such as **None**, **''**, **()**, **{}**, **[]**. On other words, empty sequences and empty mappings evaluate to False.

Booleans also have operations. These are **or** and **and**. Let's look at the table below.


#### Boolean Operations

These are ordered by ascending priority. 

|operation| Result |
|---------|--------|
| x **or** y  | if x is false, then y, else x|
| x **and** y | if x is false, then x, else y|
| **not** x | if x is false, then True, else False

AND, OR, and NOT. These operations are implemented through logical or Boolean operators that allow you to create Boolean expressions, which are expressions that evaluate to true or false.

Why do we care?
YOu can evaluete boolean logic and decide what operations of your program will execute, depending on the truth value of those conditions 


OR - excutes if at least one is tey

In [ ]:
6<7 or 4>6

In [ ]:
x = 5
y = 10

x < 5 and  x < 10

In [ ]:
x < 5 or x < 4

In [ ]:
# OR stops as soon as you encounter the first true case
1 or 2 or False

In [ ]:
0 or 1>2 or 4>5

In [ ]:
1 and 2 and 3 and 4

In [ ]:
# And stops as soon as you encounter the first false case
1 and (3>4) and 2

1 or

and Returns True if both statements are true	:x < 5 and  x < 10	
or	Returns True if one of the statements is true:	x < 5 or x < 4	
not	Reverse the result, returns False if the result is true

---

# Data Structures <a id='section2'></a>

---
## Lists <a id='subsection5'></a>

List is a data type that allows you to save multiple objects. In comparison with strings, lists can contain different data types.

In [ ]:
# here's how you can create an empty list
# you'll learn where to use it later in the workshop

empty_lst = []
empty_lst

In [ ]:
# EXAMPLE

new_lst = [2, "name", 3, [5, 6, 7], "berkeley"]
new_lst

To iterate through the list, you can use square brackets with an index of an object you are interested in. Like so:

In [ ]:
# remember that Python, like many programming languages, starts counting from 0.

new_lst[1]

Notice also that each component of the list separated by a comma is a single object. So the list inside of the list will be a single object. If you want to iterate through a list inside of the list, you will need to use the square brackets twice. Like we did here:

In [ ]:
# EXAMPLE

new_lst[3][0]

You can also replace the objects in the list by using iteration.

In [ ]:
# EXAMPLE

new_lst[0] = 6
new_lst

There are a few ways you can copy your list over into a new variable. But these copies will behave differently.

In [ ]:
# before running this cell, think about the output of lst_2 & new_lst

lst_2 = new_lst
lst_2[2] = 7

print(new_lst)
print(lst_2)

In [ ]:
# compare it to this way of copying

lst_3 = new_lst[:]
lst_3[2] = 8

print(new_lst)
print(lst_3)

---
## Arrays <a id='subsection6'></a>

Arrays are another data type that is similar to lists in a way, but they only allow for one type of information to be saved in them. Where a list can have multiple data types in it, each array can only have objects of one type (either numerals, or strings, or lists, etc.). They also use different methods and functions, that is why it is important to know your data types.

In [ ]:
# EXAMPLE

# here we create two variables with numbers from 0 to 6, one is an array, 
# and the other is a list

x_arr = np.arange(7)
x_list = [0, 1, 2, 3, 4, 5, 6]

In [ ]:
# EXAMPLE 

x_arr*3

In [ ]:
x_list*3

In [ ]:
# EXAMPLE

x_arr[2] = 5
x_arr

Arrays are most commonly used with tables, which we will not interact with in this workshop. Arrays are most useful when you want to have a set of the same kind of data that you can easily modify together.

---
## Tuples <a id='subsection7'></a>

Tuples look and behave similarly to arrays, but they **cannot** be modified. It can be used with geospatial data or other data that shouldn't be modified under any circumstances.

In [ ]:
# EXAMPLE

tup = tuple([2, 3, 4])
tup

In [ ]:
# EXAMPLE

tup[1]

In [ ]:
# EXAMPLE

tup[1] = 5

---
## Dictionaries <a id='subsection8'></a>

Another powerful data structure is the dictionary. Dictionaries help us store and manipulate data relations.

What are dictionaries? 

- A dictionary is a collection of unordered, mutable and indexable data types. They are structured as key-value pairs. 

About:
* built-in 
* built using curly brackets - {key: value} 
* you can access the value using the key ( like a real dictionary)
* keys tend to be strings (or text), since typically they represent the title or name of the thing(s) you want to represent.

In [ ]:
# EXAMPLE 

# favorite movies for a group of 4 students

movies = {"Karla" : "Blade Runner", "Andy" : "Toy Story", "Sam" : "It", "Jennifer" : "Harry Potter and the Sorcerer's Stone"}
movies

In here, the keys are the names of the students - `Karla, Andy, Sam, and Jennifer`, and  values are the names of the favorite movie for each student - `Blade runner, Toy story, It, and Harry Potter and the Sorcerer's Stone` respectively.

In [ ]:
# EXAMPLE 

# Features of my pet. We want to know what to form a relationship 
# between my pet and it's gestation type, breed, gestation 
# period (in days), and average lifespan (in years).

my_pet = {"name" : "Guido", "type" : "golden retriever", "gestation_period" : 63, "life_expectancy" : 11}
my_pet

Notice, that we are able to store different data types in the value filed. For `name` and `type` we have strings, and for `gestation_period` and `life_expectancy` we have numerals.

In [ ]:
# EXAMPLE 

# Now, we want to collect the same information as above 
# but for different pets, but now we will associate it the
# name of the owner. For this exampe, we will say that  Karla 
# has a dog, Sam has a cat, and Alan has hamster.

our_pets = {"Karla" : {"name" : "Guido", "type" : "golden retriever", "gestation_period" : 63, "life_expectancy" : 11},
            "Sam" : {"name" : "Frati", "type" : "siamese", "gestation_period" : 60, "life_expectancy" : 17},
            "Alan" : {"name" : "Boots", "type" : "syrian", "gestation_period" : 17, "life_expectancy" : 2.5} }
our_pets

Wow! We just created a dictionary of dictionaries! There are different ways to arrange the information that we stored above. For instance, we could have used lists instead.

In [ ]:
# EXAMPLE 

our_pets_2 = {"Owner":["Karla", "Sam","Alan"], "Name":["Guido","Frati","Boots"], "type":["golden retriever","siamese","syrian"],"gestation_period":[63,60,17],"life_expectancy":[11,17,2.5]}
our_pets_2

In [ ]:
our_pets_2['gestation_period'] += [1]
our_pets_2

If this is a bit hard to understand, do not worry! All you need to remember is that they are key-value pairs that store data. Now, let's see how we can access and manipulate that data.

### Accessing Elements

The elements in a dictionary you can use the bracket notation we had learned before. It will return the value if the "key" exists, otherwise it will return a  KeyError. 

Let's use the movies example from above.

In [ ]:
# Run this cell to see the dictionary

movies

In [ ]:
# EXAMPLE

movies['Sam']

In [ ]:
# EXERCISE

# What movie does Andy like?
movies['Andy']

In the example above, "Sam" is the key, and "It" is value. Now, let's try to access a key that is NOT on the dictionary.

In [ ]:
# EXAMPLE

movies['Jen']

### Inserting and Changing Elements

### Changing Elements
Let's begin by changing the Sam's favorite movie to "Wizard of Oz".

In [ ]:
# EXAMPLE

movies['Sam']= "Wizard of Oz"

movies

In [ ]:
# EXERCISE 

# Change the movie that Andy likes to your favorite movie

movies['Andy'] = "Life is Beautiful"
movies

### Adding Elements

We can add and insert elements in a dictionary the same way.

In [ ]:
# EXAMPLE

movies['Karina'] = "Coco"

movies

In [ ]:
# EXERCISE 

# Add new person and their favorite movie to the dictionary 
movies['...'] = ...
movies

### Removing Elements

To remove an element, we have to use the function `del`.

In [ ]:
# EXAMPLE

del movies['Karla']
movies

In [ ]:
# EXERCISE

# Remove the entry you added on the previous exercise
... 
movies

In [ ]:
# to view keys in the movies
movies.keys()

In [ ]:
False

In [ ]:
# to view values in movies

movies.values()

In [ ]:
# to view items in the dictionary 
movies.items()

In [ ]:
# pop removes a key value pair by using the key name 
movies.pop("Karina")

In [ ]:
movies

----
# Built-in Functions & Methods <a id="section3"/>

Python does not have a lot of built-in (aka available by default) functions and methods. But it does have some. We will go over a few useful functions and methods that will be good for you to know. 

----

If something is a function, it will appear in green color.

In [ ]:
# EXAMPLE 

max(2, 5)

How will this function work with textual information (aka strings)?
Pause for a moment to answer this question before you run this cell.

In [ ]:
# EXAMPLE 

max("cat", "dog")

Functions (not only the built-in ones) are usually used in the form of   

**function(argument 1, argument n)**

Unlike functions, methods are usually added at the end of the variable.

**variable.method()**

In [ ]:
# EXAMPLE 

min(3,7)

In [ ]:
# EXAMPLE 

hello = "Hello World"

hello.lower()

Make sure you don't use the built-in functions as names for your variables. If you were to call your list "list", then the function with the same name will not work in your notebook anymore. It is easy to tell (in Jupyter Notebooks) whether something is a function/method. When you enter it, it be in green in your code cell.

In [ ]:
list

When we use a method on a variable, it shows the output, but doesn't modify a variable. You will need to reassign your variable if you wish to keep it modified.

In [ ]:
# EXAMPLE 

print(hello.lower())
print(hello)

In [ ]:
# EXERCISE 
# make your variable phrase equal to a sentence
# make the sentence upper-cased 

phrase = "..."
phrase = ...

print(phrase)

Some of the built-in methods are quite useful for modifying lists.

In [ ]:
random_list = ['Zoom', 1, 7, 9, "Python", [3,8], "Berkeley"]

Method **del** works with indeces and allows for the deletion of parts of the list through slicing.

In [ ]:
# EXAMPLE 

del random_list[0:2]

random_list

Method **.pop(  )** works with indeces. It is the last symbol/character/object by default. But you can add a specific index.

In [ ]:
# EXAMPLE 

random_list.pop()

In [ ]:
# EXAMPLE 

random_list.pop(0)

Notice that **.pop(  )** also outputs the thing it has removed from a list.

In [ ]:
# EXAMPLE 

state = ["California", "is", "on the", "West Coast"]
last = state.pop()

print(state)
print(last)

Another method you can use for lists is **.remove**. This method uses the exact values (case matters too).

In [ ]:
# EXAMPLE 

random_list.remove("Python")

In [ ]:
random_list

Now you try removing any three elements from this list three different ways.

In [ ]:
# EXERCISE

california = ["Los Angeles", "San Francisco", 1, 5, 80, "San Diego", ["49ers", "Lakers"]]

... california
california...
california...

print(california)

---
# Conditionals <a id='section4'></a>

Why do we care about conditionals?
- Use conditionals statements to control when you want a block of code to execute. 
    - if x < 2:
        print("Hello")
- Use inside loops
- Output is a boolean data type.

In [ ]:
# EXAMPLE 

0 < -1

In [ ]:
# EXAMPLE 

abs(-2) < abs(2)

Now, let's check the type of each of the examples above. We will using the **type** function.

In [ ]:
# EXAMPLE 

type(0< -1)

In [ ]:
# EXAMPLE  

type(abs(-2) < abs(2))

## Operators 
Here is a list with more **operators**!

|Operator| Meaning|
|--------|---------|
|< | less than |
|<= | lass than or equal to|
|> | greater than |
|>= | greater than or equal to|
|!= | not equal to|
|== | equal to|

Let's try some excercises:

**Exercise 1**  Write "4 equal to 'four'" in code using conditionals.

In [ ]:
# YOUR CODE

...

**Exercise 2**  Write "2 equal to 1 + 1" in code using conditionals.

In [ ]:
# YOUR CODE 

...

**Exercise 3**  Write "0 equal to False'" in code using conditionals.

In [ ]:
# YOUR CODE

...

**Exercise 4** How would you express 30 in the interval 28 to 50, exclusive?

In [ ]:
# YOUR CODE

...


## A conditional statement

A conditional statement has the following form:

`if <condition>:
    <do_something> 
elif <condition>:
    <do_something>
else:
     <do_something>`
        
                 
The **condition** called **expressions** and **do_something** are called **suite**. (Don' worry about terminology for now.)

In [ ]:
# EXAMPLE

if 5<6:
    print("True. 5 is less than 6!")
else:
    print("False. What is math?")

**How do conditional statements work?**
* First, it evaluated the header expression(which is the `if` statement). If the statement is True, then it executes the first suite otherwise, it checks the condition of the `elif`, and so on. 
* It will only execute the suite (do_something) of the `else` clause, if the conditions of the `if` and `elif` are false (not met). 


**Some notes about conditional statements:**
* You can have as many `elif` expressions as you want, but you can only have one `if` and one `else` statement. 
* `else` always comes at the end.
* You do not always need and `else`.
* When you execute a conditional statement, you must ALWAYS consider the order of you statements.

In [ ]:
# EXAMPLE 1 

if len("Karla") == 5:
    print("Hello, 5!")
else:
    print("Hello,6!")

In [ ]:
# EXAMPLE 2 

fizzbuzz = 5
if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
    print("fizzbuzz")
elif fizzbuzz % 3 == 0:
    print("fizz")
elif fizzbuzz % 5 == 0:
    print("buzz")

In [ ]:
fizzbuzz = 5
if fizzbuzz % 15 == 0 : # Least common multiple is 15 
    print("fizzbuzz")
elif fizzbuzz % 3 == 0:
    print("fizz")
elif fizzbuzz % 5 == 0:
    print("buzz")

In [ ]:
# EXERCISE 1

# if the strings is equal to NERDS, print "Cal NERDS", if not print "Geek". 
string1 = "NERDS"

if string1 ...:
    print("Cal NERDS")
else:
    print("Geek")

In [ ]:
# Once you completed the code above, try it with a new string where the string is NOT "NERDS". 
# We have suggeste string2. 

string2 = "NOT A NERD"

# Hint: you can copy-paste the code from above, but try typing it in manually

...

---
# Loops <a id='section5'></a>

What are loops useful for? 
- Sometimes we want to perform some operation on a list, or tuple, but doing it on each element individually can be very tedious!
- A loop goes through a collection of data types and **executes** some state statement **for each value** in that collection of data. 
- Examples of data types are: list, array, characters string, tuple, dictionary, and other collections

---
## "For" Loops <a id='subsection9'></a>

Syntax: 

**for** var **in** iterable:

    statement 
    statement 
  **else:**
  
  
    statement 
    
* var - it takes items from iterable one by one. 
* iterable - it's a collection of objects (list tuple)
* indentation - loop body MUST be indented 
* loop body - first two statements 
* else clause - last statement.

In [ ]:
# EXAMPLE 

# square each value in the tuple 
for i in (1,2,3):
    print(i**i)

In [ ]:
# EXAMPLE 

# print each item in the list. 
# recall that the elements in the list do not have to have the same type 

for i in [1, 2.0, "k"]:
    print(i)

In [ ]:
# EXAMPLE 

# print each animal in the animals list
animals = ["dog", "cat", "bird", "fish"]
for animal in animals:
    print(animal)

In [ ]:
# EXAMPLE 


# calculate the area for circles with different radius
# you can save the list in variable before iterating over it 
radiuses = [1, 3, 5, 7, 9]

for radius in radiuses: 
    area = math.pi*radius**2
    print(area)

In [ ]:
# EXAMPLE 

# change each letter in the random_sentence from lower to upper case 
random_sentence = "A very long word"

for letter in random_sentence:
    print(letter.upper())

Create a for-loop that multiplies every number in the list by 3 (and outputs it on every step).

In [ ]:
# EXERCISE 

numbers = [1, 5, 7, 0, 10, 4, 7]

for i in ...:
    ...

---
### "While" Loops  <a id='subsection10'></a>

Syntax:

**while** condition: 

    statement 
    statement 
    
**else:**

    statement 
    
* condition - any expression that evaluates to true or false (so, our conditionals!)
* loop body - first and second statements. It is excludes as long as the condition is true. 
* else clause - it is executed if the condition becomes false 
* indentation - loop body must be indented.

In [ ]:
n = 5
while n > 0:
    n = n - 1
    print('this is n:'+ str(n))
    
    if n == 2:
        print(n)
else:
    print("Loop is finished")

In [ ]:
# EXAMPLE

# Iterate until x becomes 0 
x = 10
while x:
    print(x)
    x = x- 1

In [ ]:
# EXAMPLE

# iterates until the string is empty 
x = 'I can code!'
while x:
    print(x)
    x = x[1:]

In [2]:
# EXAMPLE

x = 10
while x:
    print(x)
    x = x - 1
else:
    print('Done with my countdown!')

10
9
8
7
6
5
4
3
2
1
Done with my countdown!

In [1]:
# EXERCISE

# Create a while loop that skips even numbers and squares it

x = 10 
while x > 0:
    x = ...
    if x % 2 !=0 :
        ...

81
49
25
9
1

---

---
# Defining Functions<a id='section6'></a>

A function is a block code that you can reuse to perform a specific action. In the next cell, we will be defining a simple one-line function that takes one argument.

In [ ]:
# EXAMPLE

def square(x):
    return x**2

square(3)

Your functions can perform multiple calculations and use more than one argument. You can also incorporate for-loops, conditionals, and other functions inside of your function.


**Note:** we won't be going over the nested functions (functions with other functions inside, but feel free to search for them).

In the cell below, we are going to define a function that will multiply the two numbers you give it only if they are not equal to each other.

In [ ]:
# EXAMPLE

def mult_not_eq(x, y):
    if x!=y:
        return x*y
    else:
        print("Use the square function instead")
        
        
mult_not_eq(2, 5)

Now it's time for you to define a function. Create a function that will add up two numbers, but only if they are not equals.

In [ ]:
# EXERCISE

def sum_not_equals(..., ...):
    if ...:
        return ...
    else:
        print("Use the square function instead")
    
    
sum_not_equals(1, 5)

---
# Importing Libraries <a id='section7'></a>

![imports](https://external-preview.redd.it/ZVPjiFo_Ubl4JeiU63SaTjdIoq5zveSnNZimKpgn2I8.png?auto=webp&s=bf32c94b630befa121075c1ae99b2599af6dedc5) 

[source](https://www.reddit.com/r/ProgrammerHumor/comments/cgtk7s/theres_no_need_to_reinvent_the_wheel_oc/)

Python is not the strongest programming language. It has very few built-in functions and methods. You can build all your functions from scratch but that is unnecessary in most cases. Python programs all over the world have already built a lot of **"libraries"** - collections of pre-coded functions. To use them, you normally need to install them on your computer (not needed for most if you use Anaconda) and then import it into your Jupyter Notebook.

In [ ]:
# EXAMPLE

import numpy as np
import matplotlib.pyplot as plt

Now that we imported **numpy** library, we can use it's functions.

In [ ]:
# EXAMPLE

rand_nums = [1,5,8,9,15]

np.mean(rand_nums)

Another useful library to have is **math**. It things like cos, sin, and pi pre-saved so you can use them in your calculations.

In [ ]:
# EXAMPLE

import math

radius = 3
area_circle = math.pi * radius**2

area_circle

Another library you will see often is **matplotlib**. It is used for visualizations.

In [ ]:
# EXAMPLE

plt.plot([1, 2, 3, 4])
plt.ylabel('random numbers')
plt.show()

You can also plot two sets of numbers against each other (like x and y axes).

In [ ]:
# EXAMPLE

plt.plot([1, 2, 3, 4], [1, 4, 9, 16])

You can also modify colors and shapes of your plot.

In [ ]:
# EXAMPLE

plt.plot([1, 2, 3, 4, 5, 6, 7], [1, 4, 9, 15, 25, 30, 40], "ro")

You can also have multiple plots on the same figure (picture) so that you can compare them against one another.

In [ ]:
# EXERCISE

rand = np.arange(0., 5., 0.2)

# red dashes, blue squares and green triangles
plt.plot(rand, rand, 'r--', rand, rand**2, 'bs')
plt.show()

Now it's time for you to try visualizations. Create a plot for cos(x).

In [ ]:
# EXERCISE

# Hint: use numpy to retrieve the cos function

x = np.arange(0,4*np.pi,0.1) 
y = ...

plt.plot(..., ..., 'r--')
plt.show()

How about sin and cos on the same graph?

In [ ]:
# EXERCISE

# Hint: you can reuse the same x and y
# Hint: you will need a new variable for sin
# Hint: check out how we compared two functions on the same graph previously

z = ...

plt.plot(..., ..., ..., ...) 
plt.show()

---
Notebook developed by: Kseniya Usovich & Karla Palos

Cal NERDS GitHub: https://github.com/Cal-NERDS