1.1) Data types: define variables, strings, numerals, lists, arrays, tuples, dict, env. diag
                 call expressions (aka build-in functions and methods), max/min/length
                 iteration through all, add/insert, deletion/removal
                 reading errors
                 
Sequences: lists, squencence iteration, strings
Mutable Data: sequences, sequence objects (pop, append, extent), tuples , dictionaries , iterators

1.2) For-loops & Conditionals: basic expressions, what is a for-loop, env. diag

1.3) Functions: define a basic function (square, print your name+major)

Jupyter Notebooks is a platform that allows the programmers and data scientists to see the output from their code right after running the cell. It allows allows for the textual data in the so-called markdown cells.
All the code cells are grayed-out and all the markdown cells just appear as black-on-white text. To run a cell (either code or markdown) you need to clck shift-return.
Besides writing text in the markdown cells, you can leave comments in the code cells by using a singele # sign.

# Data Types

Every programming language has different types of data that it can use. A data type is essentially a way the information can be saved and manipulated. Each data type has its own functions and methods that can modify it. And usually, the functions that can modify one data types, won't work with the other or give a different result. That is why it is important to know your data types.

### Defining Variables

We should think of a variable as a container or a storage box that allows us to save various types of information we plan to use later. Defining a variable consists of two components: a name it will be called by and information you store under that name. One variable can hold one type of information.

In [1]:
var = "Variable"
var

'Variable'

In [2]:
print(var)

Variable

In the next cell assign the variable hello to a phrase "Hello World".

In [2]:
# assign the variable hello to the output "Hello World"

hello  = "..."
hello

'...'

Make sure you don't use the built-in functions as names for your variables. If you were to call your list "list", then the function with the same name will not work in your notebook anymore. It is easy to tell (in Jupyter Notebooks) whether something is a function/method. When you enter it, it be in green in your code cell.

In [18]:
list

list

### Numerals

Numerals essentially are just numbers. And you can do all kinds of manipulations with them as you would do with numbers. There are two types of numerals: int and float. "Int" is an integer and "float" is a number with a decimal point. In the previous versions of Python they were not "compatiable", meaning you were only able to manipulate the numerals of the same kind. But starting with Python3, you can combine both types in the calculation without it causing any error.

In [5]:
2+3

5

In [7]:
2.0+3

5.0

In [8]:
4/2

2.0

In [9]:
5*3

15

In [10]:
5**3

125

In [12]:
(1+2)*3

9

You can also save a numeral in a variable. You can later use that variable instead of typing a number in your calculations.

In [13]:
g = 9.8

In [14]:
g*4

39.2

### Strings

A string is a data types that consists of textual information. It will read all types of data as a text, even if you were to use numbers. Strings are defined by the quotation marks (either double or single).

In [15]:
"Kseniya Usovich"

'Kseniya Usovich'

Textual info without the quotation marks is read as a variable, and if that variable doesn't contain any info will give you an error.

In [16]:
Kseniya

NameError: name 'Kseniya' is not defined

You can save your string into a variable. In the cell below, create a variable name with your name in it.

In [26]:
name = "..."
name

'...'

As was mentioned before, you can use either double or single quotation marks. But be careful, because some of the textual information might already contain the single (more common) or double (less common) quotation marks inside. Like so:

In [21]:
"Joe's"

"Joe's"

If we were to use single quotation marks on the outside, it would give us an error:

In [22]:
'Joe's'

SyntaxError: invalid syntax (<ipython-input-22-caf74ef72209>, line 1)

In order to avoid that error, simply put a backslash before the quotation mark, so the computer will read it as part of the string instead of a part of the code itself.

In [27]:
'Joe\'s'

"Joe's"

Everything inside that quotation marks will be read as a textual information. Compare the outputs in the cell below.

In [8]:
print("2+3")
print(2+3)

2+3
5

### Lists

List is a data type that allows you to save multiple objects. In comparisson with strings, lists can contain different data types.

In [4]:
# here's how you can create an empty list
# you'll learn where to use it later in the workshop

empty_lst = []
empty_lst

[]

In [5]:
new_lst = [2, "name", 3, [5, 6, 7], "berkeley"]
new_lst

[2, 'name', 3, [5, 6, 7], 'berkeley']

To itterate through the list, you can use square brackets with an index of an object you are interested in. Like so:

In [7]:
# remember that Python, like many programming languages, starts counting from 0.

new_lst[1]

'name'

Notice also that each component of the list separated by a comma is a single object. So the list inside of the list will be a single object. If you want to itterate through a list inside of the list, you will need to use the square brackets twice. Like we did here:

In [10]:
new_lst[3][0]

5

You can also replace the objects in the list by using iteration.

In [11]:
new_lst[0] = 6
new_lst

[6, 'name', 3, [5, 6, 7], 'berkeley']

There are a few ways you can copy your list over into a new variable. But these copies will behave differently.

In [12]:
# before running this cell, think about the output of lst_2 & new_lst

lst_2 = new_lst
lst_2[2] = 7

print(new_lst)
print(lst_2)

[6, 'name', 7, [5, 6, 7], 'berkeley']
[6, 'name', 7, [5, 6, 7], 'berkeley']

In [13]:
# compare it to this way of copying

lst_3 = new_lst[:]
lst_3[2] = 8

print(new_lst)
print(lst_3)

[6, 'name', 7, [5, 6, 7], 'berkeley']
[6, 'name', 8, [5, 6, 7], 'berkeley']

# For-loops & Conditionals

# Functions