# Intro to Python (Part I)



---
<img src="https://calnerds.berkeley.edu/css/images/logo.jpg"  /> <!--style="width: 500px; height: 275px;"-->

### Kseniya Usovich 

Introduction to Python 

*Estimated Time: 3 hours*




---

### Topics Covered
- Variable Assignment
- Strings
- Numerals
- Lists, Arrays, and Tuples 
- Built-ins 
- Dictionaries 
- Loops
- Conditionals
- Functions
- Libraries 
- Files 
- Errors
- Comphrehensions

### Table of Contents

1 - [Data Types](#section1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 - [Variable Assignment](#subsection1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2 - [Strings](#subsection2)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3 - [Numerals](#subsection3)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3 - [Booleans](#subsection4)<br>

2 - [Data Structures](#section2)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 - [Lists](#subsection4)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2 - [Arrays](#subsection5)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3 - [Tuples](#subsection6)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4 - [Dictionaries](#subsection7)<br>


3 - [Built-ins](#section3)<br>


4 - [Loops and Conditionals](#section4)<br>  Karla - conditionals 


5 - [Functions](#section5)<br> - anatomy and definition

6 - [Files](#section6)<br> - read, write, edit and save

7 - [Libraries](#section7)<br> - numpy and plotly ( mention pandas and seaborn for the next section)

8 - [Errors](#section8)<br> 

9 - [Comphrehensions](#section9)<br>  Karla - Add after loops and conditionals 

- Add challenge questions for the sections  Karla - add 



**Dependencies:**

In [55]:
import numpy as np
import pandas as pd
import math

## Data Types <a id="section1"/>


Every programming language has different types of data that it can use. A data type is essentially a way the information can be saved and manipulated. Each data type has its own functions and methods that can modify it. And usually, the functions that can modify one data types, won't work with the other or give a different result. That is why it is important to know your data types.

### Variable Assignment  <a id='subsection1'></a>

We should think of a variable as a container or a storage box that allows us to save various types of information we plan to use later. Defining a variable consists of two components: a name it will be called by and information you store under that name. One variable can hold one type of information.

In [6]:
var = "Variable"
var

'Variable'

In [7]:
print(var)

Variable

In the next cell assign the variable hello to a phrase "Hello World".

In [8]:
hello  = "..."
hello

'...'

### Strings  <a id='subsection2'></a>

A string is a data types that consists of textual information. It will read all types of data as a text, even if you were to use numbers. Strings are defined by the quotation marks (either double or single).

In [9]:
"Kseniya Usovich"

'Kseniya Usovich'

Textual info without the quotation marks is read as a variable, and if that variable doesn't contain any info will give you an error.

In [10]:
Kseniya

NameError: name 'Kseniya' is not defined

You can save your string into a variable. In the cell below, create a variable name with your name in it.

In [11]:
name = "..."
name

'...'

As was mentioned before, you can use either double or single quotation marks. But be careful, because some of the textual information might already contain the single (more common) or double (less common) quotation marks inside. Like so:

In [12]:
"Joe's"

"Joe's"

If we were to use single quotation marks on the outside, it would give us an error:

In [13]:
'Joe's'

SyntaxError: invalid syntax (<ipython-input-13-caf74ef72209>, line 1)

In order to avoid that error, simply put a backslash before the quotation mark, so the computer will read it as part of the string instead of a part of the code itself.

In [14]:
'Joe\'s'

"Joe's"

Everything inside that quotation marks will be read as a textual information. Compare the outputs in the cell below.

In [15]:
print("2+3")
print(2+3)

2+3
5

###  Numerals <a id='subsection3'></a>

Numerals essentially are just numbers. And you can do all kinds of manipulations with them as you would do with numbers. There are two types of numerals: int and float. "Int" is an integer and "float" is a number with a decimal point. In the previous versions of Python they were not "compatiable", meaning you were only able to manipulate the numerals of the same kind. But starting with Python3, you can combine both types in the calculation without it causing any error.

In [16]:
2+3

5

In [17]:
2.0+3

5.0

In [18]:
4/2

2.0

In [19]:
7//2

3

In [20]:
5*3

15

In [21]:
5**3

125

In [22]:
(1+2)*3

9

You can also save a numeral in a variable. You can later use that variable instead of typing a number in your calculations.

In [23]:
g = 9.8

In [24]:
g*4

39.2

###  Booleans <a id='subsection4'></a>

# Add note on True and False 

<!--INSERT COMMENT HERE-->

## Data Structures <a id='section2'></a>

### Lists <a id='subsection 4'></a>

List is a data type that allows you to save multiple objects. In comparisson with strings, lists can contain different data types.

In [25]:
# here's how you can create an empty list
# you'll learn where to use it later in the workshop

empty_lst = []
empty_lst

[]

In [26]:
new_lst = [2, "name", 3, [5, 6, 7], "berkeley"]
new_lst

[2, 'name', 3, [5, 6, 7], 'berkeley']

To itterate through the list, you can use square brackets with an index of an object you are interested in. Like so:

In [27]:
# remember that Python, like many programming languages, starts counting from 0.

new_lst[1]

'name'

Notice also that each component of the list separated by a comma is a single object. So the list inside of the list will be a single object. If you want to itterate through a list inside of the list, you will need to use the square brackets twice. Like we did here:

In [28]:
new_lst[3][0]

5

You can also replace the objects in the list by using iteration.

In [29]:
new_lst[0] = 6
new_lst

[6, 'name', 3, [5, 6, 7], 'berkeley']

There are a few ways you can copy your list over into a new variable. But these copies will behave differently.

In [30]:
# before running this cell, think about the output of lst_2 & new_lst

lst_2 = new_lst
lst_2[2] = 7

print(new_lst)
print(lst_2)

[6, 'name', 7, [5, 6, 7], 'berkeley']
[6, 'name', 7, [5, 6, 7], 'berkeley']

In [31]:
# compare it to this way of copying

lst_3 = new_lst[:]
lst_3[2] = 8

print(new_lst)
print(lst_3)

[6, 'name', 7, [5, 6, 7], 'berkeley']
[6, 'name', 8, [5, 6, 7], 'berkeley']

### Arrays <a id='subsection5'></a>

Arrays are another data type that is similar to lists in a way, but they only allow for one type of information to be saved in them. Where a list can have multiple data types in it, each array can only have objects of one type (either numerals, or strings, or lists, etc.). They also use different methods and functions, that is why it is important to know your data types.

In [32]:
# here we create two variables with numbers from 0 to 6, one is an array, 
# and the other is a list

x_arr = np.arange(7)
x_list = [0, 1, 2, 3, 4, 5, 6]

In [33]:
x_arr*3

array([ 0,  3,  6,  9, 12, 15, 18])

In [34]:
x_list*3

[0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6]

In [35]:
x_arr[2] = 5
x_arr

array([0, 1, 5, 3, 4, 5, 6])

Arrays are most commonly used with tables, which we will not interact with in this workshop. Arrays are most useful when you want to have a set of the same kind of data that you can easily modify together.

### Tuples <a id='subsection6'></a>

Tuples look and behave similarly to arrays, but they cannot be modified. It can be used with geospatial data or other data that shouldn't be modified under any circumstances.

In [36]:
tup = tuple([2, 3, 4])
tup

(2, 3, 4)

In [37]:
tup[1]

3

In [38]:
tup[1] = 5

TypeError: 'tuple' object does not support item assignment

### Dictionaries <a id='subsection7'></a>

Another powerful data structure is the dictionary. Dictionaries help us store and manipulate data relations.

What are dictionaries? 

    A dictionary is a collection of unordered, mutable and indexable data types. They are structured as key-value pairs. 

About:
* built-in 
* built using curly brakets - {kay: value} 
* you can access the value using the key ( like a real dictionary)
* keys tend to be strings (or text), since typically they represent the title or name of the thing(s) you want to represent.

#### Examples

**1)** Favorite movies for a group of 4 students

In [39]:
movies = {"Karla" : "Blade Runner", "Andy" : "Toy Story", "Sam" : "It", "Jennifer" : "Harry Potter and the Sorcerer's Stone"}
movies

{'Karla': 'Blade Runner',
 'Andy': 'Toy Story',
 'Sam': 'It',
 'Jennifer': "Harry Potter and the Sorcerer's Stone"}

In here, the keys are the names of the students - `Karla, Andy, Sam, and Jennifer`, and  values are the names of the favorite movie for each student - `Blade runner, Toy story, It, and Harry Potter and the Sorcerer's Stone` respectively.

**2)**  Features of my pet. We want to know what to form a relationship between my pet and it's gestation type, breed, gestation period (in days), and average lifespan (in years).

In [40]:
my_pet = {"name" : "Guido", "type" : "golden retriever", "gestation_period" : 63, "life_expectancy" : 11}
my_pet

{'name': 'Guido',
 'type': 'golden retriever',
 'gestation_period': 63,
 'life_expectancy': 11}

Notice, that we are able to store different data types in the value filed. For `name` and `type` we have strings, and for `gestation_period` and `life_expectancy` we have numerals.

**3)** Now, we want to collect the same information as above but for different pets, but now we will associate it the name of the owner. For this exampe, we will say that  Karla has a dog, Sam has a cat, and Alan has hamster.

In [41]:
our_pets = {"Karla" : {"name" : "Guido", "type" : "golden retriever", "gestation_period" : 63, "life_expectancy" : 11},
            "Sam" : {"name" : "Frati", "type" : "siamese", "gestation_period" : 60, "life_expectancy" : 17},
            "Alan" : {"name" : "Boots", "type" : "syrian", "gestation_period" : 17, "life_expectancy" : 2.5} }
our_pets

{'Karla': {'name': 'Guido',
  'type': 'golden retriever',
  'gestation_period': 63,
  'life_expectancy': 11},
 'Sam': {'name': 'Frati',
  'type': 'siamese',
  'gestation_period': 60,
  'life_expectancy': 17},
 'Alan': {'name': 'Boots',
  'type': 'syrian',
  'gestation_period': 17,
  'life_expectancy': 2.5}}

Wow! We just created a dictionary of dictionaries! There are different ways to arrange the infomartion that we stored above. For instance, we could have used lists instead.

In [42]:
our_pets_2 = {"Owner":["Karla", "Sam","Alan"], "Name":["Guido","Frati","Boots"], "type":["golden retriever","siamese","syrian"],"gestation_period":[63,60,17],"life_expectancy":[11,17,2.5]}
our_pets_2

{'Owner': ['Karla', 'Sam', 'Alan'],
 'Name': ['Guido', 'Frati', 'Boots'],
 'type': ['golden retriever', 'siamese', 'syrian'],
 'gestation_period': [63, 60, 17],
 'life_expectancy': [11, 17, 2.5]}

If this is a bit hard to understand, do not worry! All you need to remeber is that they are key-value pairs that store data. Now, let's see how we can access and manipulate that data.

#### Accessing Elements

The elements in a dictionary you can use the bracket notation we had learned before. It will return the value if the "key" exists, otherwise it will return a  KeyError. 

Let's use the movies example from above.

In [43]:
# Run this cell to see the dictionary
movies

{'Karla': 'Blade Runner',
 'Andy': 'Toy Story',
 'Sam': 'It',
 'Jennifer': "Harry Potter and the Sorcerer's Stone"}

In [44]:
movies['Sam']

'It'

In the example above, "Sam" is the key, and "It" is value. Now, let's try to access a key that is NOT on the diccionary.

In [45]:
movies['Jen']

KeyError: 'Jen'

#### Inserting and Changing Elements

#### Changing Elements
Let's begin by changing the Sam's favorite movie to "Wizard of Oz".

In [46]:
movies['Sam']= "Wizard of Oz"

movies

{'Karla': 'Blade Runner',
 'Andy': 'Toy Story',
 'Sam': 'Wizard of Oz',
 'Jennifer': "Harry Potter and the Sorcerer's Stone"}

#### Adding Elements

We can add and insert elements in a diccionary the same way.

In [47]:
movies['Karen'] = "Coco"

movies

{'Karla': 'Blade Runner',
 'Andy': 'Toy Story',
 'Sam': 'Wizard of Oz',
 'Jennifer': "Harry Potter and the Sorcerer's Stone",
 'Karen': 'Coco'}

Your turn! Add a new entry to the diccionary with your favorite movie.

#### Removing Elements

To remove an element, we have to use the function `del`.

In [48]:
del movies['Karla']
movies

{'Andy': 'Toy Story',
 'Sam': 'Wizard of Oz',
 'Jennifer': "Harry Potter and the Sorcerer's Stone",
 'Karen': 'Coco'}

Now, delete your favorite your entry from the diccionary.

----
# ADD AFTER LIST/ and built ins

Make sure you don't use the built-in functions as names for your variables. If you were to call your list "list", then the function with the same name will not work in your notebook anymore. It is easy to tell (in Jupyter Notebooks) whether something is a function/method. When you enter it, it be in green in your code cell.

----

## Loops and Conditionals <a id='section4'></a>

### Conditionals

Why do we care about conditionals?
- Use conditionals statements to control when you want a block of code to excute. 
    - e.g. square something only when the values are greater than some other arbitrary value. 
- Use inside loops

#### Boolean values


Booleans can only take `True` or `False` values. They represent the "truth" values in a logical expression, and can help us answer questions that require a binary responses (yes or no) whenver a given condition is or is not met. 

Examples:
- Is 0<1?
- Is abs(-2) == abs(2)?

Going back to the questions posed above, we have example 1 and example 2.

In [112]:
# EXAMPLE 1

0<1

True

In [113]:
# EXAMPLE 2

abs(-2) == abs(2)

True

There are many more comparison operations than "less than" and "equal to". Look at the table below.


#### Built-in comparison operations 

|symbol| meaning|
|------|--------|
|<     | less than|
|>     | greater than|
|>= |greater than or equal to|
|<= | less than or eual to|
|==| equal to|
|!=| not equal to|

Let's try some excercises:

**Exercise 1**  Write "4 equal to 'four'" in code using conditionals.

In [ ]:
# YOUR CODE

**Exercise 1**  Write "2 equal to 1 + 1" in code using conditionals.

In [ ]:
# YOUR CODE

# Add section on TRUE and FALSE ( 2 -4 cells max)
* 3. Is 30 between 28 and 50? (30>28 AND 30<50)

#### A conditional statement

A conditional statment has the following form:

`if <condition>:
    <do_something> 
elif <condition>:
    <do_something>
else:
     <do_something>`
        
                 
The **condition** called **expressions** and **do_something** are called **suite**. (Don' worry about terminology for now.)

**Example:**

In [38]:
if 5<6:
    print("True. 5 is less than 6!")
else:
    print("False. What is math?")

True. 5 is less than 6!

**How do condional statements work?**
* First, it evaulated the header expression(which is the `if` statment). If the statement is True, then it executes the first suite otherwise, it checks the condition of the `elif`, and so on. 
* It will only execute the suite (do_something) of the `else` clause, if the conditions of the `if` and `elif` are false (not met). 


**Some notes about conditional statements:**
* You can have as many `elif` expressions as you want, but you can only have one `if` and one `else` statement. 
* `else` always comes at the end.
* You do not always need and `else`.
* When you execute a conditional statement, you must ALWAYS condider the order of you statements.

### "For" Loops

What are loops useful for? 
- Sometimes we want to perform some operation on a list, or tuple, but doing it on each element individually can be very tediuos!
- A loop goes through a collection of data types and **executes** some state statement **for each value**  in that collection of data. 
- Examples of data types are: list, array, characters string, tuple, dictionary, and other collections

In [107]:
# EXAMPLE 1 

# square each value in the tuple 
for i in (1,2,3):
    print(i**i)

1
4
27

In [108]:
# EXAMPLE 2

# print each item in the list. 
# recall that the elements in the list do not have to have the same type 

for i in [1, 2.0, "k"]:
    print(i)

1
2.0
k

In [109]:
# EXAMPLE 3

# print each animal in the animals list
animals = ["dog", "cat", "bird", "fish"]
for animal in animals:
    print(animal)

dog
cat
bird
fish

In [110]:
# EXAMPLE 4


# calculate the area for circles with different radius
# you can save the list in variable before iterating over it 
radiuses = [1, 3, 5, 7, 9]

for radius in radiuses: 
    area = math.pi*radius**2
    print(area)

3.141592653589793
28.274333882308138
78.53981633974483
153.93804002589985
254.46900494077323

In [111]:
# EXAMPLE 5 

# change each letter in the random_sentence from lower to upper case 
random_sentence = "A very long word should be here"

for letter in random_sentence:
    print(letter.upper())

A

V
E
R
Y

L
O
N
G

W
O
R
D

S
H
O
U
L
D

B
E

H
E
R
E

### "While" Loops

---

## Section 2 <a id='section2'></a>

Intro to section 2 here.

---
Notebook developed by: Kseniya Usovich

Cal NERDS GitHub: https://github.com/Cal-NERDS