# Intro to Python (Part I)



---
<img src="https://calnerds.berkeley.edu/css/images/logo.jpg"  /> <!--style="width: 500px; height: 275px;"-->

### Kseniya Usovich 

Introduction to Python 

*Estimated Time: 3 hours*




---

### Topics Covered
- Variable Assignment
- Strings
- Numerals
- Lists, Arrays, and Tuples 
- Built-ins 
- Dictionaries 
- Loops
- Conditionals
- Functions
- Libraries 
- Files 
- Errors
- Comphrehensions

### Table of Contents

1 - [Data Types](#section 1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 - [Variable Assignment](#subsection 1)

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2 - [Strings](#subsection 2)

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3 - [Numerals](#subsection 3)

2 - [Data Structures](#section 2)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 - [Lists](#subsection 4)

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2 - [Arrays](#subsection 5)

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3 - [Tuples](#subsection 6)

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4 - [Dictionaries](#subsection 7)


3 - [Built-ins](#section 3)<br>


4 - [Loops](#section 4)<br>


5 - [Functions](#section 5)<br>

6 - [Files](#section 6)<br>

7 - [Libraries](#section 7)<br>

8 - [Errors](#section 8)<br>

9 - [Comphrehensions](#section 9)<br>


<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 - [Subsection 1](#subsection 1)-->

**Dependencies:**

In [7]:
import numpy as np, pandas as pd

## Data Types <a id='section 1'></a>


Every programming language has different types of data that it can use. A data type is essentially a way the information can be saved and manipulated. Each data type has its own functions and methods that can modify it. And usually, the functions that can modify one data types, won't work with the other or give a different result. That is why it is important to know your data types.

### Variable Assignment  <a id='subsection 1'></a>

We should think of a variable as a container or a storage box that allows us to save various types of information we plan to use later. Defining a variable consists of two components: a name it will be called by and information you store under that name. One variable can hold one type of information.

In [7]:
var = "Variable"
var

'Variable'

In [8]:
print(var)

Variable

In the next cell assign the variable hello to a phrase "Hello World".

In [9]:
hello  = "..."
hello

'...'

### Strings  <a id='subsection 2'></a>

A string is a data types that consists of textual information. It will read all types of data as a text, even if you were to use numbers. Strings are defined by the quotation marks (either double or single).

In [16]:
"Kseniya Usovich"

'Kseniya Usovich'

Textual info without the quotation marks is read as a variable, and if that variable doesn't contain any info will give you an error.

In [17]:
Kseniya

NameError: name 'Kseniya' is not defined

You can save your string into a variable. In the cell below, create a variable name with your name in it.

In [18]:
name = "..."
name

'...'

As was mentioned before, you can use either double or single quotation marks. But be careful, because some of the textual information might already contain the single (more common) or double (less common) quotation marks inside. Like so:

In [19]:
"Joe's"

"Joe's"

If we were to use single quotation marks on the outside, it would give us an error:

In [20]:
'Joe's'

SyntaxError: invalid syntax (<ipython-input-20-caf74ef72209>, line 1)

In order to avoid that error, simply put a backslash before the quotation mark, so the computer will read it as part of the string instead of a part of the code itself.

In [21]:
'Joe\'s'

"Joe's"

Everything inside that quotation marks will be read as a textual information. Compare the outputs in the cell below.

In [22]:
print("2+3")
print(2+3)

2+3
5

###  Numerals <a id='subsection 3'></a>

Numerals essentially are just numbers. And you can do all kinds of manipulations with them as you would do with numbers. There are two types of numerals: int and float. "Int" is an integer and "float" is a number with a decimal point. In the previous versions of Python they were not "compatiable", meaning you were only able to manipulate the numerals of the same kind. But starting with Python3, you can combine both types in the calculation without it causing any error.

In [23]:
2+3

5

In [24]:
2.0+3

5.0

In [25]:
4/2

2.0

In [37]:
7//2

3

In [26]:
5*3

15

In [27]:
5**3

125

In [28]:
(1+2)*3

9

You can also save a numeral in a variable. You can later use that variable instead of typing a number in your calculations.

In [29]:
g = 9.8

In [30]:
g*4

39.2

## Data Structures <a id='section 2'></a>

### Lists <a id='section 4'></a>

List is a data type that allows you to save multiple objects. In comparisson with strings, lists can contain different data types.

In [3]:
# here's how you can create an empty list
# you'll learn where to use it later in the workshop

empty_lst = []
empty_lst

[]

In [4]:
new_lst = [2, "name", 3, [5, 6, 7], "berkeley"]
new_lst

[2, 'name', 3, [5, 6, 7], 'berkeley']

To itterate through the list, you can use square brackets with an index of an object you are interested in. Like so:

In [5]:
# remember that Python, like many programming languages, starts counting from 0.

new_lst[1]

'name'

Notice also that each component of the list separated by a comma is a single object. So the list inside of the list will be a single object. If you want to itterate through a list inside of the list, you will need to use the square brackets twice. Like we did here:

In [ ]:
new_lst[3][0]

You can also replace the objects in the list by using iteration.

In [ ]:
new_lst[0] = 6
new_lst

There are a few ways you can copy your list over into a new variable. But these copies will behave differently.

In [ ]:
# before running this cell, think about the output of lst_2 & new_lst

lst_2 = new_lst
lst_2[2] = 7

print(new_lst)
print(lst_2)

In [ ]:
# compare it to this way of copying

lst_3 = new_lst[:]
lst_3[2] = 8

print(new_lst)
print(lst_3)

### Arrays <a id='section 5'></a>

Arrays are another data type that is similar to lists in a way, but they only allow for one type of information to be saved in them. Where a list can have multiple data types in it, each array can only have objects of one type (either numerals, or strings, or lists, etc.). They also use different methods and functions, that is why it is important to know your data types.

In [8]:
# here we create two variables with numbers from 0 to 6, one is an array, 
# and the other is a list

x_arr = np.arange(7)
x_list = [0, 1, 2, 3, 4, 5, 6]

In [ ]:
x_arr*3

In [ ]:
x_list*3

In [ ]:
x_arr[2] = 5
x_arr

Arrays are most commonly used with tables, which we will not interact with in this workshop. Arrays are most useful when you want to have a set of the same kind of data that you can easily modify together.

### Tuples <a id='section 6'></a>

Tuples look and behave similarly to arrays, but they cannot be modified. It can be used with geospatial data or other data that shouldn't be modified under any circumstances.

In [9]:
tup = tuple([2, 3, 4])
tup

(2, 3, 4)

In [10]:
tup[1]

3

In [11]:
tup[1] = 5

TypeError: 'tuple' object does not support item assignment

### Dictionaries <a id='section 5'></a>

### For-loops

A for-loop is, essentially, a conditional iterative statement. For-loops allow you to repeat a certain act multiple times. That's what they look like:

In [1]:
random_nums = [1, 2, 4, 8, 7, 5, 11]
random_nums_2 = []

for x in random_nums:
    random_nums_2 += [x*2]
    
random_nums_2

11

Think of "x" (can have a different name) as an empty variable that gets assigned new data on every step of the iteration. If you were to call the "x" after the iteration is done, you can see that it is equal to the last thing from your list.

In [13]:
x

11

You can also combine the for-loops and conditionals.

In [29]:
groceries = ["apple", "kale", "tomatoes", "oranges", "oat milk"]

for item in groceries:
    new_item = "apple"
    if item == new_item:
        print("Already bought it")
    else:
        pass

Already bought it

# ADD AFTER LIST/ and built-ins

Make sure you don't use the built-in functions as names for your variables. If you were to call your list "list", then the function with the same name will not work in your notebook anymore. It is easy to tell (in Jupyter Notebooks) whether something is a function/method. When you enter it, it be in green in your code cell.

In [1]:
list

list

---

## Functions <a id='section 2'></a>

A function is a block code that you can reuse to perform a specific action. In the next cell, we will be defining a simple one-line function that takes one argument.

In [12]:
def square(x):
    return x**2

square(3)

9

Your functions can perform multiple calculations and use more than one argument. You can also incorporate for-loops, conditionals, and other functions inside of your function. 

**Note:** we won't be going over the nested functions (functions with other functions inside, but feel free to serach for them).

In the cell below, we are going to define a function that will multiply the two numbers you give it only if they are not equal to each other.

In [11]:
def mult_not_eq(x, y):
    if x!=y:
        return x*y
    else:
        print("Use the square function instead")
        
        
mult_not_eq(2, 5)

10

## Section 3 <a id='section 3'></a>

Intro to section 3 here.

In [ ]:
# CODE

### Subsection 1 <a id='subsection 1'></a>

Intro to subsection 1 here.

In [ ]:
# CODE

---

## Bibliography

---
Notebook developed by: Kseniya Usovich & Karla Palos

Cal NERDS GitHub: